.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    left: 86.94%;
    right: 3.82%;
    top: 24.14%;
    bottom: 49.61%;

    background: #E92877;
    border-radius: 90px;
}

.sign-up {
    position: absolute;
    left: 78.89%;
    right: 14.93%;
    top: 24.57%;
    bottom: 62.87%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}